{% extends "index.html" %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
    {% for draft in drafts %}
        <tr>
            <td>{{ draft.pub_date.strftime('%Y-%m-%d') }}</td>
            <td>
                <a href="/edit-post/{{ draft.id }}">{{ draft.title }}</a>
            </td>
            <td>
                {{ draft.body|truncate(100) }}
            </td>
            <td>
                <form action="/delete/{{ draft.id }}" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}