{% extends "index.html" %}

{% block content %}
<h3 class="mt-5">Post me a river</h3>
<form method="POST" action="">
    {{form.hidden_tag()}}
    <div class="form-group">
        <label for="title">Title</label>
        {{ form.title(class_="form-control") }}
    </div>
    <div class="form-group">
        <label for="body">Content</label>
        {{ form.body(class_="form-control", cols="100", rows="20") }}
    </div>
    <div class="form-check">
        {{ form.is_published(class_="form-check-input") }}
        <label class="form-check-label" for="is_published">Tick if you wanna publish this entry</label>
    </div>
    <button type="submit" class="btn btn-primary mt-5">Submit</button>
</form>
<h3 class="mt-5">Post random stuff</h3>
<form method="POST" action="/random/{{ entry_id }}">
    {{form.hidden_tag()}}
    <button type="submit" class="btn btn-primary mt-5">I'm lazy</button>
</form>

{% endblock %}